.venv/
__pycache__/
*.pyc
data/raw/*
data/generated/*
data/mmap/*
data/external/*
outputs/*
!data/raw/.gitkeep
!data/generated/.gitkeep
!data/mmap/.gitkeep
!data/external/.gitkeep
!outputs/.gitkeep
*.pt
*.onnx
*.h5
*.tflite
*.log

*.egg-info/
